/* # tag mãe */
nav{ 
background-color: rgb(0, 0, 0);
color: aliceblue;
display: flex;
justify-content: space-between;

button {
  background-color: #000000;
  color: white;
  border: 10px;
  border-color: white;
  padding: 12px 24px;
  font-size: 16px;
  transition: transform 0.2s; 
}

/* imagem */
}
img{
width: 50px;
height: 50px;
}
ul{ 
justify-self: left;
}
ul{
display: flex;
justify-content: space-between;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
list-style-type: none;
gap: 40px;
}
    /* background-image: url('../Imagens/flower.jpg'); */

a{
    color:white;
    text-decoration: none;
} 

.Background {
height: 100%;
width: 100%;
}





